$banner-bg: #fff;
$banner-text: #fff;
$logo-bg: #fff;
$logo-border: #eaeaea;

$color-dark-blue: #223254;
$color-blue: #0068ff;
$color-light-blue: #5497e8;
$color-white: #ffffff;
$color-black: #000000;

.bg-dark-blue {
    background-color: $color-dark-blue !important;
}

.bg-blue {
    background-color: $color-blue !important;
}

.color-white {
    color: $color-white !important;
}

.color-blue {
    color: $color-blue !important;
}