.site-footer {
  background: $footer-bg;
  color: $color-white;
  a {
    color: $color-white;
    text-decoration: underline;
  }
}

.footer-bar-top {
  border-top: 6px solid $color-light-blue;
}

.footer-logo {
  width: auto;
}

.footer-menu .footer-link {
  font-family: $font-body;
  font-size: 1.6rem;
  letter-spacing: -1.5px;
  font-weight: 300;
}

.footer-menu__col--left {
  padding-left: 16px;
}

.footer-menu__col--right {
  padding-right: 16px;
}

.border-start-blue {
  border-left-color: transparent !important;
  border-left-width: 0 !important;
  
  @media (min-width: $breakpoint-lg) {
    border-left-color: $color-blue !important;
    border-left-width: 3px !important;
  }
}

.footer-contact .border-start-blue {
  padding-top: 24px;
  padding-bottom: 24px;
  
  @media (min-width: $breakpoint-xs) {
    border-left-color: $color-dark-blue !important;
    border-left-width: 0 !important;
  }

  @media (min-width: $breakpoint-lg) {
    border-left-color: $color-blue !important;
    border-left-width: 3px !important;
    padding-left: 3rem;
  }
}
