.header-bar {
  width: 100%;
  height: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  &--top {
    margin-bottom: 0;
  }

  &--bottom {
    margin-top: 0;
  }

  span {
    display: block;
    height: 100%;
    flex: 1 1 33.333%;

    &:nth-child(1) {
      background: $color-blue;
    }
    
    &:nth-child(2) {
      background: $color-dark-blue;
    }

    &:nth-child(3) {
      background: $color-light-blue;
    }
  }

  &--bottom span {
    &:nth-child(1) {
      background: $color-light-blue;
    }

    &:nth-child(2) {
      background: $color-blue;
    }

    &:nth-child(3) {
      background: $color-dark-blue;
    }
  }
}

.site-header {
  background: $color-white;
  min-height: 90px;

  .row {
    min-height: 90px;
  }
}

.header-logo {
  width: auto;

  &--main {
    max-width: 100px;
  }

  &--gov {
    max-width: 80px;
  }
}

.navbar-toggler {
  background: $color-blue;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;

  &-icon {
    display: inline-block;
    width: 24px;
    height: 2px;
    background: $color-white;
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 2px;
      background: $color-white;
      position: absolute;
      left: 0;
    }

    &::before {
      top: -8px;
    }

    &::after {
      bottom: -8px;
    }
  }
}

.main-menu {
  font-size: 1.1rem;

  .d-flex {
    display: flex !important;
  }

  .menu-btn {
    width: 100%;
    margin: 0 16px;
  }
}

.menu-btn {
  background: $color-blue;
  color: $color-white;
  padding: 0.6rem 1.4rem;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s;

  &:hover {
    background: $color-dark-blue;
    color: $color-white;
  }
}

@media (min-width: $breakpoint-xl) {
  .header-logo {
    max-height: 400px;

    &--main {
      max-width: 300px;
    }

    &--gov {
      max-width: 280px;
    }
  }

  .main-menu {
    display: block !important;

    .menu-btn {
      width: auto;
      margin: 0;
    }
  }
}
