.header-bar {
  width: 100%;
  height: 8px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.header-bar--top {
  margin-bottom: 0;
}
.header-bar--bottom {
  margin-top: 0;
}
.header-bar span {
  display: block;
  height: 100%;
  flex: 1 1 33.333%;
}
.header-bar span:nth-child(1) {
  background: $color-dark-blue;
}
.header-bar span:nth-child(2) {
  background: $color-blue;
}
.header-bar span:nth-child(3) {
  background: $color-light-blue;
}
.header-bar--bottom span:nth-child(1) {
  background: $color-light-blue;
}
.header-bar--bottom span:nth-child(2) {
  background: $color-blue;
}
.header-bar--bottom span:nth-child(3) {
  background: $color-dark-blue;
}
.site-header {
  background: $color-white;
  min-height: 90px;
}
.site-header .row {
  min-height: 90px;
}
.header-logo {
  max-height: 100px;
  width: auto;
}
.header-logo--main {
  max-width: 200px;
}
.header-logo--gov {
  max-width: 170px;
}
.navbar-toggler {
  background: $color-blue;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 24px;
  height: 2px;
  background: $color-white;
  position: relative;
}
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background: $color-white;
  position: absolute;
  left: 0;
}
.navbar-toggler-icon::before {
  top: -8px;
}
.navbar-toggler-icon::after {
  bottom: -8px;
}
.main-menu {
  font-size: 1.1rem;
}
.main-menu .d-flex {
  display: flex !important;
}
@media (min-width: 1200px) {
  .main-menu {
    display: block !important;
  }
}
.menu-btn {
  background: $color-blue;
  color: $color-white;
  padding: 0.6rem 1.4rem;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s;
}
.menu-btn:hover {
  background: $color-dark-blue;
  color: $color-white;
}
@media (max-width: 1199px) {
  .header-logo {
    max-height: 50px;
  }
  .header-logo--main {
    max-width: 100px;
  }
  .header-logo--gov {
    max-width: 80px;
  }
  .main-menu .menu-btn {
    width: 100%;
    margin: 0 16px;
  }
}
