.section-about {
  background-image: url('assets/img/crosses.jpg');
  background-color: $color-blue;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%; 
  height: auto;
  z-index: 1;
 
  .container,
  .container-fluid,
  .row,
  .col-lg-3,
  .col-lg-9 {
    position: relative;
    z-index: 2;
  }

  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }

  .container,
  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .event-card p {
    font-size: 1.2rem;
    color: $color-dark-blue;
    margin-bottom: 32px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;

    .col-md-6 {
      padding: 0 16px;
    }

    &.g-4 {
      gap: 0;
      row-gap: 32px;
    }
  }

  .col-lg-3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0;
    margin-bottom: 32px;
  }

  .col-lg-9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.banner-home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top; // prioritize top alignment to avoid bottom cropping when using cover
}

.banner {
  background: $banner-bg;
  color: $banner-text;

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__col {
    flex-basis: 100%;
    max-width: 100%;

    &--image {
      background: transparent;
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 40px 24px;
    }
  }

  &__title {
    font-family: $font-heading;
    font-size: 1.8rem;
    color: $color-white;
    line-height: 1.3;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-family: $font-stack;
    font-size: 1.1rem;
    font-weight: 400;
    color: $color-white;
    line-height: 1.4;
    margin-bottom: 20px;
    background: $color-dark-blue;
    padding: 10px;

    strong {
      font-weight: 700;
    }
  }

  &__date {
    font-family: $font-stack;
    font-size: 1.1rem;
    font-weight: 400;
    color: $color-white;
    background: $color-blue;
    padding: 10px;

    .bold {
      font-weight: 700;
      font-size: 1.3rem;
    }
  }
}

.presentation {
  background: $body-bg;
  color: $text-color;
}

.logos {
  background: $logo-bg;
  border: 1px solid $logo-border;
}

.banner-home {
  height: auto;
}

.banner-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center top;
  display: block;
  
  @media (min-width: $breakpoint-lg) {
    height: auto;
  }
}

@media (min-width: $breakpoint-lg) {
  .section-about {
    .container {
      flex-direction: row;
    }

    .col-lg-3 {
      justify-content: flex-end;
      padding-right: 32px;
      margin-bottom: 0;
    }
  }

  .banner {
    &__container {
      flex-direction: row;
    }

    &__col {
      flex-basis: 50%;
      max-width: 50%;

      &--text {
        padding: 0 80px;
      }
    }

    &__title {
      font-size: 3rem;
    }

    &__subtitle {
      font-size: 1.3rem;
    }
  }
}

.section-about {
  .event-card {
    margin-bottom: 24px;
    
    @media (min-width: $breakpoint-md) {
      margin-bottom: 0;
    }
  }

  .row.g-4 {
    row-gap: 24px;
  }
}

.section-participation {
  padding: 120px 0;
  
  .section-title {
    color: $color-blue;
    text-align: center;
    margin-bottom: 1rem;
  }

  .text-blue {
    color: $color-blue;
  }

  .text-dark-blue {
    color: $color-dark-blue;
    margin-bottom: 2rem;
  }

  .btn-register {
    border-radius: 0;
    padding: 12px 120px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1.25em;
  }
}

.section-about {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: $color-light-blue;
    z-index: 1;
  }
}
