.section-schedule .row > .col-md-6 {
  display: flex;
}
.section-schedule .event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; // spread title and button
  width: 100%;
}

@media (min-width: 768px) {
  .section-schedule .row > .col-md-6 {
    align-items: stretch;
  }
}
.section-schedule {
  background: $color-dark-blue;
  background-image: url('assets/img/schedule-half-circle.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  padding: 10em 0;

  .section-title {
    font-size: 2.5rem;
    
    @media (min-width: $breakpoint-lg) {
      font-size: 6rem;
    }
  }

  .container,
  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    z-index: 2;
  }

  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    background: $color-light-blue;
    z-index: 1;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  .card-title {
    color: $color-blue;
  }

  .btn-learn {
    background: $color-blue;
    color: $color-white;
    font-family: $font-stack;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    border-radius: 0;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    letter-spacing: 0.02em;
    transition: background 0.3s;

    &:hover {
      background: $color-dark-blue;
    }
  }

  .row {
    gap: 0;
    row-gap: 32px;

    .col-md-6 {
      padding: 0 16px;
    }
  }
}
