/*!
 * Theme:   Congresso Custom
 * Author:  Dayvson Marques
 * Email:   dayvson.marques@gmail.com
 * Website: https://dayvsonmarques.dev.br
 * GitHub:  https://github.com/dayvsonmarques
 * Repo:    https://github.com/dayvsonmarques/dgasp-seminario-2026
 */

@import 'colors';
@import 'variables';
@import 'fonts';
@import 'global';
@import 'header';
@import 'footer';
@import 'home';
@import 'schedule';
@import 'certificados';
@import 'about';